/*
Google fonts
font-family: 'Anonymous Pro', monospace;
font-family: 'Montserrat', sans-serif;

Color Codes
Pink #EAC7C7
Blue #A0C3D2
Tope #F7F5EB
Clay #EAE0DA
*/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    color: #A0C3D2;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#calculator {
    border: solid 3px #A0C3D2;
    background-color: #A0C3D2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 500px;
    padding: 14px 0;
}

#screen {
    border: solid 2px #A0C3D2;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    height: 80px;
    padding: 5px;
    margin-bottom: 14px;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 95%;
    justify-content: center;
    gap: 5px;
}

#buttons button {
    width: 22%;
    border-radius: 5px;
    font-size: larger;
    border: none;
}

button:hover {
    background-color: white;
}

button:disabled {
    background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    border: none;
}

#clear {
    flex-basis: 69%;
}

#equals {
    flex-basis: 46%;
}

footer {
    text-align: center;
    flex-shrink: 0;
}